.header {
    background-color: purple;
    color: white;
    width: 100%;
    height: 50px;
}
body{
    margin: 0;
}

#navigation-drawer{
        position: fixed;
        top: 0;
        background: greenyellow;
        width: 240px;
        height: 100vh;
        color: white; 
        transform: translateX(-100%);
        transition: transform 800ms ease-out;

}

.open-drawer {
    transform: translateX(0) !important;
}


.side-drawer {
    height: 50px;
    background: black;
    border: 0;
}

.item-nav{
width: 60px;
height: 5px;
background: white;
display: block;
margin: 4px 0px;
}

