body {
    margin: 4px;
    padding: 0;
    box-sizing: border-box;
}
section{
    margin-bottom: 4px;
}
article{
    width: 60vw;
    float: left;
    margin: 0;
}
.rojo {
    background-color: red;
    height: 5vh;
}
.naranja {
    background-color: rgb(255, 169, 10);
    height: 20vh;
}
.first__container{
    display: table;
    width: 100%;
    height: 40vh;
    margin-left: -4px;
    margin-top: 0px;
}
.amarillo__row{
    display: table-row;
    height: 20vw;
    width: 100%;
    background-color: yellow;
}
.amarillo{
    display: table-cell;
    width: 50%;
    border: 4px solid white;
}
.rosa{
    width: calc(60vw - 8px);
    height: 50vh;
    background-color: pink;
}
aside{
    width: 33vw;
    float: right;
    margin: 0;
}
.verde-oculto{
    background-color: green;
    width: 0%;
    height: 40vh;
    border-top: 4px solid white;
    border-bottom: 8px solid white;
}
.verde{
    background-color: green;
    width: 100%;
    height: 40vh;
    border-top: 4px solid white;
    border-bottom: 8px solid white;
}
.azul{
    background-color: blue;
    width: 100%;
    height: 100vh;
}
