 
 body {
    margin: 0;
    

}
.main-header {
    height: 54px;
    background: black;
    padding: 15px 20px;
    width: 100%;
    position: fixed;

}
.main-section {
    background-image: url('https://www.paraserbella.com/wp-content/uploads/2017/10/Hora-de-viajar.jpg');
    background-size: cover;
    height: 100vh;
    display: block;
}
.items-navigation_menu{
    display: inline-block;
    color: white;
}
.logo-navigation_menu{
    height: 50px;
}
.text-paragraph {
    margin: 0 100px;
    text-align: center;
    position: absolute;
    color: white;
    top: 50%;
    font-size: 30px;
    font-weight: bolder;
    

}
.border-left {
    border-left: 5px solid salmon;
    height: 50px;
    po
}
.webdesign-title {
    font-size: 20px;
    font-family: 'Arimo', sans-serif;

    margin-left: 50px;
    

}
.webdesign-description {
    font-size: 15px;
    
}

.container-webdesign {
    width: 80%;
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
    border: 1px solid wheat;
    background-color:  white;
    box-shadow: 10px 10px 5px #aaaaaa;

}


.webdesign-section {
    padding: 25px 0;
    background-size: cover;
}

.webdesign-btn {
    width: 200px;
    text-align: center;
    font-weight: bold;
    display: block;
    background: white;
    padding: 15px 10px;
    border: 2px solid black; 
    color: black;
    text-decoration: none;
    transition-property: background-color,color,fill;
}

.webdesign-btn:hover {
    border:4px solid black;
    background: black;
    color: white;
    
}
.container-webdesign {
    width: 50%;
    padding: 10px 10px 20px 10px;
    border: 1px solid wheat;
    background-color:  white;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin: 0 auto;
}
.footer-description {
    width: 30%;
    margin: 0px;

}
.footer-social-icons {
    width: 49px;
    margin: 0px;
    display: inline-block;
    text-align: right;

}
@media only screen and (min-width 768px) {
    .footer-social-icons {
    margin-top: 30px;
    margin-left: auto;
    box-shadow: -10px 10px 5px #aaaaaa
}

@media only screen and (min-width 768px) {
    .container-right {
        margin-top: 30px;
        margin-left: auto;
        box-shadow: -10px 10px 5px #aaaaaa
    }
}
@media only screen and (min-widthÑ 600px) {
    
}

@media only screen and (min-width 992px) {
    
}
@media only screen and (min-width 1200px) {
    
}
